.header {
    min-height: 100vh;
    background: url(../assets/home-image-1.jpg);
    background-size: cover;
    background-attachment: fixed;

    &--blog {
        min-height: 100vh;
        background: url(../assets/blog-header-1.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    &--contact {
        min-height: 100vh;
        background: url(../assets/contact-header-1.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    &__box {
        width: 50%;
        position: absolute;
        right: 0;
        bottom: -22%;
    }

    &__content {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        h1 {
            @include logo-heading(13.07rem);
            letter-spacing: 2.4px;
            color: $accent-color;
            text-transform: capitalize;
        }

        .motto {
            letter-spacing: 2.6px;
            line-height: 2.4;
            color: $accent-color-2;
            @include secondary-font(4.16rem);
            display: block;
            margin-left: 2%;
            text-align: left;
            text-transform: none;
        }

        &--blog {
            color: $accent-color-2;
            font-size: 3.2rem;
            position: absolute;
            top: 45%;
            left: 10%;
        }

        &--contact {
           color: $accent-color-2;
            font-size: 3.2rem;
            position: absolute;
            top: 45%;
            left: 14%;
        }
    }
}

/*media queries*/


@media (max-width: 1370px) {
    .header {
        &--blog {
            min-height: 60vh;
        }
        &__content--blog {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }
}

@media (max-width: 1140px) {
    .header {
        &--contact {
            min-height: 60vh;
        }
        &__content--contact {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }
}

@media (max-width: 830px) {

    .header {
        &__box {
            display: none;
        }

        &__content  {
		    h1 {
                min-width: 500px;
                @include logo-heading(9rem);
            }
            .motto {
                @include secondary-font(2.9rem);
                margin-left: 22%;
            }
	    }
    }
}

@media (max-width: 740px) {
    .header {
        &__content--contact {
            h1 {
                line-height: 0.5;
                font-size: 5.8rem;
            }
        }
    }
}

@media (max-width: 460px) {
    .header {
        &__content {
            &--contact h1 {
                line-height: 0.5;
                font-size: 5rem;
            }
        }
    }
}