.navigation {
    text-transform: uppercase;
    color: #fff;

    &__menu {
        display: flex;
        justify-content: center;

        li a {
            padding: 30px 30px;
            color: $accent-color-2;
            @include secondary-font(1.9rem);
            line-height: 29px; 
            letter-spacing: 1.9px;
        }

        a:hover,
        a:focus,
        a:active,
        a:focus-within {
            color: $accent-color;
        }

        .logo {
            text-transform: capitalize;
            @include logo-heading(2.9rem);
        }
    }
}

.hamburger,
.exit {
	display: none;
}

.show.navigation {
	display: block;
}

/* Media Query */
@media all and (max-width: 900px) {
	.hamburger,
	.exit {
		display: block;
		font-size: 50px;
		color: $accent-color-2;
		margin: 0;
		position: absolute;
		right: 10px;
		top: 10px;
	}

	.navigation {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $bg-color;
		z-index: 1;
		padding-top: 100px;

		ul {
			display: flex;
			flex-direction: column;

			a {
				text-align: center;
				width: 100%;
			}
		}

	}
}