.button {
    padding: 10px 30px;
    background-color: $accent-color-3;
    color: $accent-color-2;
    text-transform: capitalize;
    @include logo-heading(2rem);

    &:hover {
        background: $accent-color;
    }
}

// media queries

@media (max-width: 480px) {
    .button {
        padding: 5px 20px;
        @include logo-heading(1rem);
    }
}