.aside__blog {
    background-color: $bg-color-2;
    width: 25%;
    margin-left: 5%;
    margin-top: 10%;
    padding-top: 400px;
    padding-left: 40px;
    padding-bottom: 30px;
    padding-right: 40px;
}

.aside__image {
    // position: absolute;
    // top: 5%;
    img {
    margin-left: -36%;
    z-index: 1;
    width: 455px;
    height: 432px;
    margin-top: -130%;
    }
    // margin-left: 0%;
    // z-index: 1;
    
    // margin-top: -120%;
}

.mission {
    h2 {
        @include secondary-font(3.4rem);
        margin: 0;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    p {
        margin: 0;
    }

    a {
        color: $accent-color;
        font-size: 1.9rem;
    }
}

.posts {
    h2 {
        @include secondary-font(3.4rem);
        margin: 0;
        margin-top: 10%;
        margin-bottom: 5%;
    }

    a {
        color: $accent-color-2;
        font-size: 1.9rem;

        &:hover {
            color: $accent-color;
        }
    }

    &__links {
        li {
             list-style-type: disc;
             color: $accent-color-3;
             margin-left: 7%;
        }
    }
}

// media queries

@media (max-width: 1600px) {
    .mission {
        h2 {
            margin-top: 10%;
        }
    }
}

@media (max-width: 1500px) {
    .mission {
        h2 {
            margin-top: 15%;
        }
    }
    .aside__blog {
        padding-right: 30px;
    }

}

@media (max-width: 1370px) {
    .aside__blog {
        width: 100%;
        margin: 0px;
        padding: 50px 0px;
        text-align: center;
        .aside__image {
            img {
                margin: 0 auto;
                border: 5px solid $accent-color;
            }
        }
    }

    .mission {
        h2 {
            margin-top: 5%;
            margin-bottom: 2%;
        }
    }

    .posts {
        h2 {
            margin-top: 4%;
            margin-bottom: 2%;
        }

        &__links {
            li {
                margin-left: 40%;
                text-align: left;
                list-style-position: inside;
            }
        }
    }
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    .posts {
        &__links {
            li {
                margin-left: 30%;
            }
        }
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .aside__blog {
        p {
            @include primary-font(1rem);
        }
        .aside__image {
            img {
                width: 200px;
                height: 190px;
            }
        }

        .mission {
            h2 {
                @include secondary-font(2.5rem);
            }
            p {
                width: 80%;
                margin: 0 auto;
            }
            a {
                font-size: 1.2rem;
            }
        }
    }

    .posts {
        h2 {
            @include secondary-font(2.5rem);
        }
        &__links {
            li {
                margin-left: 25%;
            }
            a {
                @include primary-font(1.2rem);
            }
        }
    }
}