.main__blog {
    display: flex;
    background-color: $bg-color;
    align-items: flex-start;
    position: relative;
}

.blog {
    width: 70%;

    &__image {
        // position: absolute;
        margin-top: -15%;
        margin-left: 196px;
        
        // right: 0;
        // -webkit-box-shadow: -46px 43px 0px -16px rgba(255,131,39,1);
        // -moz-box-shadow: -46px 43px 0px -16px rgba(255,131,39,1);
        // box-shadow: -46px 43px 0px -16px rgba(255,131,39,1);
        img {
            -webkit-box-shadow: -46px 43px 0px -16px rgba(255,131,39,1);
            -moz-box-shadow: -46px 43px 0px -16px rgba(255,131,39,1);
            box-shadow: -46px 43px 0px -16px rgba(255,131,39,1);
        }
    }

    &__menu {
        padding-top: 100px;
        padding-left: 100px;
        margin-left: 170px;
        padding-bottom: 70px;
        padding-right: 100px;
        // margin-left: 0;
        // position: absolute;
        // top: 700px;
        // right: 0;
        -webkit-box-shadow: -2px 2px 0px 2px rgba(255,131,39,1);
        -moz-box-shadow: -2px 2px 0px 2px rgba(255,131,39,1);
        box-shadow: -2px 2px 0px 2px rgba(255,131,39,1);

        h2 {
            @include secondary-font(3.4rem);
            margin: 0;
            margin-top: 5%;
        }

        h3 {
            margin: 0;
            color: $accent-color;
            margin-top: 1%;
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 2000px) {
    .blog {
        &__menu {
            // margin-left: 10%;
        }
    }
}


/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}