.main__blog {
    display: flex;
    background-color: $bg-color;
    align-items: flex-start;
    position: relative;
}

.blog {
    width: 70%;

    &__image {
        margin-top: -15%;
        margin-left: 196px;

        img {
            -webkit-box-shadow: -46px 43px 0px -16px rgba(255,131,39,1);
            -moz-box-shadow: -46px 43px 0px -16px rgba(255,131,39,1);
            box-shadow: -46px 43px 0px -16px rgba(255,131,39,1);
        }
    }

    &__menu {
        padding-top: 100px;
        padding-left: 100px;
        margin-left: 170px;
        padding-bottom: 70px;
        padding-right: 100px;
        -webkit-box-shadow: -2px 2px 0px 2px rgba(255,131,39,1);
        -moz-box-shadow: -2px 2px 0px 2px rgba(255,131,39,1);
        box-shadow: -2px 2px 0px 2px rgba(255,131,39,1);

        h2 {
            @include secondary-font(3.4rem);
            margin: 0;
            margin-top: 5%;
        }

        h3 {
            margin: 0;
            color: $accent-color;
            margin-top: 1%;
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 2000px) {
    .blog {
        &__menu {
            // margin-left: 10%;
        }
    }
}

@media (max-width: 1370px) {
    .main__blog {
        flex-direction: column;
        margin: 0 auto;
    }

    .blog {
        width: 100%;
        &__post {
            width: 100%;
        }
        &__image {
            margin-top: 0%;
            margin-left: 0px;
            img {
                box-shadow: none;
                width: 80%;
                margin: 0 auto;
                border: 5px solid $accent-color;
            }
        }
        &__menu {
            margin-left: 0px;
        }
    }
}


/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    .blog {
        &__menu {
            padding-top: 30px;
        }
    }
}

@media (max-width: 500px) {
    .blog {
        &__menu {
            padding-left: 40px;
            padding-right: 30px;
        }
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .blog {
        &__post {
            .blog__menu {
                h2 {
                    @include secondary-font(2.5rem);
                    // margin: 0;
                    // margin-top: 5%;
                }
                h3 {
                    font-size: 1rem;
                }
                p {
                    @include primary-font(1.2rem);
                }
            }
        }
    }
}