// variables
$accent-color: #ff8327;
$accent-color-2: #ffffff;
$accent-color-3: #bf2603;
$bg-color: #111010;
$bg-color-2: #220303;
$bg-color-3: #2c2c2c;

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    width: 80%;
}

// mixins 

@mixin primary-font($size) {
    font-size: $size;
    font-family: 'Chathura', sans-serif;
    font-weight: 400;
}

@mixin secondary-font($size) {
    font-size: $size;
    font-family: 'Chathura', sans-serif;
    font-weight: 700;
}

@mixin logo-heading($size) {
    font-size: $size;
    font-family: 'Tulpen One', cursive;
    font-weight: 400;
}

p {
    @include primary-font(1.95rem);
    line-height: 30px;
    letter-spacing: 1.9px;
}