.details {
    background-color: $bg-color-2;
    padding-top: 150px;

    h2 {
        @include secondary-font(3.4rem);
        margin: 0;
    }
    
    &__top {
        display: flex;
        align-items: flex-start;

        &--image {
            width: 40%;
            transform: translateY(-50%);
            img {
                -webkit-box-shadow: 46px 43px 0px -16px rgba(255,131,39,1);
                -moz-box-shadow: 46px 43px 0px -16px rgba(255,131,39,1);
                box-shadow: 46px 43px 0px -16px rgba(255,131,39,1);
            }
        }

        &--content {
            width: 60%;
            padding-left: 20%;
            padding-right: 10%;
            text-align: left;
        }

        p {
            text-align: justify;
        }
    }

    &__bottom {
        display: flex;
        align-items: flex-start;

        &--image {
            width: 40%;
            transform: translateY(12%);
            img {
            -webkit-box-shadow: -46px 43px 0px -16px rgba(255,131,39,1);
            -moz-box-shadow: -46px 43px 0px -16px rgba(255,131,39,1);
            box-shadow: -46px 43px 0px -16px rgba(255,131,39,1);
            }
        }

        &--content {
            text-align: right;
            width: 60%;
            padding-right: 20%;
            padding-left: 10%;
            padding-top: 120px;
        }

        p {
            text-align: justify;
        }
    }
}

/*media queries*/

@media (max-width: 1675px) {
    .details {
        &__top {
            width: 90%;
            margin: 0 auto;
            flex-wrap: wrap;
            &--image {
                width: 100%;
                transform: none;
                padding-bottom: 50px;
            }
            &--content {
                width: 100%;
                text-align: center;
                padding: 0;
            }
        }

        &__bottom {
            width: 90%;
            margin: 0 auto;
            flex-wrap: wrap;
            flex-direction: column-reverse;
            &--image {
                width: 100%;
                transform: none;
                padding-bottom: 50px;
            }
            &--content {
                width: 100%;
                text-align: center;
                padding: 0;
            }
        }
    }
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}