.events {
    background-color: $bg-color;
    padding-top: 160px;
    padding-bottom: 150px;
    .wrapper {
        display: flex;
    }

    &__image {
        width: 25%;
        img {
            -webkit-box-shadow: -46px 43px 0px -16px rgba(255,131,39,1);
            -moz-box-shadow: -46px 43px 0px -16px rgba(255,131,39,1);
            box-shadow: -46px 43px 0px -16px rgba(255,131,39,1);
        }
    }

    &__content {
        width: 75%;
        padding-left: 10%;
        h2 {
            @include secondary-font(3.4rem);
            margin: 0;
            color: $accent-color;
        }
    }
}

// media queries

@media (max-width: 1000px) {
    .events {
        .wrapper {
            flex-direction: column;
        }

        &__image {
            margin: 0 auto;
            width: 50%;
        }

        &__content {
            margin: 0 auto;
            padding-top: 70px;
            width: 100%;
            text-align: center;
            h2 {
                text-align: center;
            }

            p {
                text-align: left;
            }
        }
    }
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}