.features {
    background-color: $bg-color;
    padding-top: 280px;
    padding-bottom: 140px;
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        // align-content: space-between;
        // justify-content: space-between;

        .feature {
            width: calc(100% / 2);
            display: flex;
            flex-direction: row;
            // justify-content: space-between;
        }

        .feature__text {
            display: flex;
            flex-direction: column;
            padding-bottom: 40px;
        }
    }
}

.feature {
    &__icon {
        i { 
            background-color: $accent-color-3;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            padding-top: 10px;
            text-align: center;
            line-height: 40px;
            transform: translateY(-30%);  
        }

        i::before {
            font-size: 1.5rem;
        }
    }

    &__text {
        margin-left: 3%;
        h2 {
            // display: block;
            @include secondary-font(3.4rem);
            margin: 0;
        }
    }
}

/*media queries*/
@media (max-width: 1675px) {
    .features {
        padding-bottom: 50px;
    }
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
    .features {
        .wrapper {
            .feature {
                width: 100%;
            }
        }
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}