.gallery {
    background-color: $bg-color-2;
    padding: 100px 0px;
    .wrapper {
        display: flex;
    }

    &__item {
        width: calc((100% / 3) - 15px);
        margin: 0px 15px;
    }

    &__item:first-child {
        margin-left: 0;
    }

    &__item:last-child {
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    .gallery {
        padding: 30px 0;
        &__item {
            width: 50%;
        }

        &__item:nth-last-of-type(2) {
            margin-right: 0;
        }

        &__item:last-child {
            display: none;
        }
    }
}