article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: black;
  color: white; }

.skip-link:focus {
  left: 0; }

html {
  font-size: 125%; }

body {
  font-size: 1rem;
  font-family: 'Chathura', sans-serif;
  color: #fff;
  line-height: 30px;
  letter-spacing: 1.9px; }

a {
  text-decoration: none;
  display: inline-block; }

li {
  list-style-type: none; }

img {
  display: block;
  width: 100%; }

ul {
  padding: 0;
  margin: 0; }

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 80%; }

p {
  font-size: 1.95rem;
  font-family: 'Chathura', sans-serif;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1.9px; }

.navigation {
  text-transform: uppercase;
  color: #fff; }
  .navigation__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .navigation__menu li a {
      padding: 30px 30px;
      color: #ffffff;
      font-size: 1.9rem;
      font-family: 'Chathura', sans-serif;
      font-weight: 700;
      line-height: 29px;
      letter-spacing: 1.9px; }
    .navigation__menu a:hover,
    .navigation__menu a:focus,
    .navigation__menu a:active,
    .navigation__menu a:focus-within {
      color: #ff8327; }
    .navigation__menu .logo {
      text-transform: capitalize;
      font-size: 2.9rem;
      font-family: 'Tulpen One', cursive;
      font-weight: 400; }

.hamburger,
.exit-responsive {
  display: none; }

.show.navigation {
  display: block; }

/* Media Query */
@media all and (max-width: 900px) {
  .hamburger,
  .exit-responsive {
    display: block;
    font-size: 50px;
    color: #ffffff;
    margin: 0;
    position: absolute;
    right: 10px;
    top: 10px; }
  .navigation {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #111010;
    z-index: 1; }
    .navigation ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .navigation ul a {
        text-align: center;
        width: 100%; } }

.header {
  min-height: 100vh;
  background: url(../assets/home-image-1.jpg);
  background-size: cover;
  background-attachment: fixed; }
  .header--blog {
    min-height: 100vh;
    background: url(../assets/blog-header-1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; }
  .header--contact {
    min-height: 100vh;
    background: url(../assets/contact-header-1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; }
  .header__box {
    width: 50%;
    position: absolute;
    right: 0;
    bottom: -22%; }
  .header__content {
    position: absolute;
    top: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }
    .header__content h1 {
      font-size: 13.07rem;
      font-family: 'Tulpen One', cursive;
      font-weight: 400;
      letter-spacing: 2.4px;
      color: #ff8327;
      text-transform: capitalize; }
    .header__content .motto {
      letter-spacing: 2.6px;
      line-height: 2.4;
      color: #ffffff;
      font-size: 4.16rem;
      font-family: 'Chathura', sans-serif;
      font-weight: 700;
      display: block;
      margin-left: 2%;
      text-align: left;
      text-transform: none; }
    .header__content--blog {
      color: #ffffff;
      font-size: 3.2rem;
      position: absolute;
      top: 45%;
      left: 10%; }
    .header__content--contact {
      color: #ffffff;
      font-size: 3.2rem;
      position: absolute;
      top: 45%;
      left: 14%; }

/*media queries*/
@media (max-width: 830px) {
  .header__box {
    display: none; }
  .header__content h1 {
    min-width: 500px;
    font-size: 9rem;
    font-family: 'Tulpen One', cursive;
    font-weight: 400; }
  .header__content .motto {
    font-size: 2.9rem;
    font-family: 'Chathura', sans-serif;
    font-weight: 700;
    margin-left: 22%; } }

.footer {
  background-color: #2c2c2c;
  text-align: center;
  padding: 16px 0px; }
  .footer p {
    margin: 0; }

.button {
  padding: 10px 30px;
  background-color: #bf2603;
  color: #ffffff;
  text-transform: capitalize;
  font-size: 2rem;
  font-family: 'Tulpen One', cursive;
  font-weight: 400; }
  .button:hover {
    background: #ff8327; }

.features {
  background-color: #111010;
  padding-top: 280px;
  padding-bottom: 140px; }
  .features .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .features .wrapper .feature {
      width: calc(100% / 2);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
    .features .wrapper .feature__text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-bottom: 40px; }

.feature__icon i {
  background-color: #bf2603;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding-top: 10px;
  text-align: center;
  line-height: 40px;
  -webkit-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  transform: translateY(-30%); }

.feature__icon i::before {
  font-size: 1.5rem; }

.feature__text {
  margin-left: 3%; }
  .feature__text h2 {
    font-size: 3.4rem;
    font-family: 'Chathura', sans-serif;
    font-weight: 700;
    margin: 0; }

/*media queries*/
/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .features .wrapper .feature {
    width: 100%; } }

/* Landscape phone to portrait tablet */
/* Landscape phones and down */
.details {
  background-color: #220303;
  padding-top: 150px; }
  .details h2 {
    font-size: 3.4rem;
    font-family: 'Chathura', sans-serif;
    font-weight: 700;
    margin: 0; }
  .details__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .details__top--image {
      width: 40%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      .details__top--image img {
        -webkit-box-shadow: 46px 43px 0px -16px #ff8327;
        -moz-box-shadow: 46px 43px 0px -16px #ff8327;
        box-shadow: 46px 43px 0px -16px #ff8327; }
    .details__top--content {
      width: 60%;
      padding-left: 20%;
      padding-right: 10%;
      text-align: left; }
    .details__top p {
      text-align: justify; }
  .details__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .details__bottom--image {
      width: 40%;
      -webkit-transform: translateY(12%);
      -ms-transform: translateY(12%);
      transform: translateY(12%); }
      .details__bottom--image img {
        -webkit-box-shadow: -46px 43px 0px -16px #ff8327;
        -moz-box-shadow: -46px 43px 0px -16px #ff8327;
        box-shadow: -46px 43px 0px -16px #ff8327; }
    .details__bottom--content {
      text-align: right;
      width: 60%;
      padding-right: 20%;
      padding-left: 10%;
      padding-top: 120px; }
    .details__bottom p {
      text-align: justify; }

/*media queries*/
@media (max-width: 1675px) {
  .details {
    padding-bottom: 150px; }
    .details__top {
      width: 80%;
      margin: 0 auto;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .details__top--image {
        width: 100%;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        padding-bottom: 80px; }
      .details__top--content {
        width: 100%;
        text-align: center;
        padding: 0;
        padding-bottom: 50px; }
    .details__bottom {
      width: 80%;
      margin: 0 auto;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; }
      .details__bottom--image {
        width: 100%;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        padding-bottom: 80px; }
      .details__bottom--content {
        width: 100%;
        text-align: center;
        padding: 0; } }

/* Portrait tablet and small desktops */
/* Landscape phone to portrait tablet */
/* Landscape phones and down */
.host {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #111010;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 140px; }
  .host h2 {
    font-size: 3.4rem;
    font-family: 'Chathura', sans-serif;
    font-weight: 700;
    color: #ff8327; }
  .host p {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 40px; }

.banner img {
  width: 100%; }

.events {
  background-color: #111010;
  padding-top: 160px;
  padding-bottom: 150px; }
  .events .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .events__image {
    width: 25%; }
    .events__image img {
      -webkit-box-shadow: -46px 43px 0px -16px #ff8327;
      -moz-box-shadow: -46px 43px 0px -16px #ff8327;
      box-shadow: -46px 43px 0px -16px #ff8327; }
  .events__content {
    width: 75%;
    padding-left: 10%; }
    .events__content h2 {
      font-size: 3.4rem;
      font-family: 'Chathura', sans-serif;
      font-weight: 700;
      margin: 0;
      color: #ff8327; }

.gallery {
  background-color: #220303;
  padding: 100px 0px; }
  .gallery .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .gallery__item {
    width: calc((100% / 3) - 15px);
    margin: 0px 15px; }
  .gallery__item:first-child {
    margin-left: 0; }
  .gallery__item:last-child {
    margin-right: 0; }

.aside__blog {
  background-color: #220303;
  width: 25%;
  margin-left: 5%;
  margin-top: 10%;
  padding-top: 400px;
  padding-left: 40px;
  padding-bottom: 30px;
  padding-right: 40px; }

.aside__image {
  position: absolute;
  top: 5%; }

.mission h2 {
  font-size: 3.4rem;
  font-family: 'Chathura', sans-serif;
  font-weight: 700;
  margin: 0;
  margin-top: 5%;
  margin-bottom: 5%; }

.mission p {
  margin: 0; }

.mission a {
  color: #ff8327;
  font-size: 1.9rem; }

.posts h2 {
  font-size: 3.4rem;
  font-family: 'Chathura', sans-serif;
  font-weight: 700;
  margin: 0;
  margin-top: 10%;
  margin-bottom: 5%; }

.posts a {
  color: #ffffff;
  font-size: 1.9rem; }
  .posts a:hover {
    color: #ff8327; }

.posts__links li {
  list-style-type: disc;
  color: #bf2603;
  margin-left: 7%; }

.main__blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #111010;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative; }

.blog {
  width: 70%; }
  .blog__image {
    margin-top: -15%;
    margin-left: 196px; }
    .blog__image img {
      -webkit-box-shadow: -46px 43px 0px -16px #ff8327;
      -moz-box-shadow: -46px 43px 0px -16px #ff8327;
      box-shadow: -46px 43px 0px -16px #ff8327; }
  .blog__menu {
    padding-top: 100px;
    padding-left: 100px;
    margin-left: 170px;
    padding-bottom: 70px;
    padding-right: 100px;
    -webkit-box-shadow: -2px 2px 0px 2px #ff8327;
    -moz-box-shadow: -2px 2px 0px 2px #ff8327;
    box-shadow: -2px 2px 0px 2px #ff8327; }
    .blog__menu h2 {
      font-size: 3.4rem;
      font-family: 'Chathura', sans-serif;
      font-weight: 700;
      margin: 0;
      margin-top: 5%; }
    .blog__menu h3 {
      margin: 0;
      color: #ff8327;
      margin-top: 1%;
      font-size: 1.5rem; }

/* Portrait tablet and small desktops */
/* Landscape phone to portrait tablet */
/* Landscape phones and down */
.blog__comments {
  margin-left: 20%; }
  .blog__comments h2 {
    font-size: 3.4rem;
    font-family: 'Chathura', sans-serif;
    font-weight: 700; }
  .blog__comments img {
    width: 200%; }
  .blog__comments--text {
    padding-left: 7%; }
    .blog__comments--text h3 {
      color: #ff8327;
      font-size: 1.9rem;
      margin: 0; }
    .blog__comments--text p {
      margin: 0;
      margin-top: 1%; }

.comment__container--1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .comment__container--1 .blog__comments--text {
    padding-bottom: 80px; }

.comment__container--2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .comment__container--2 .blog__comments--text {
    padding-bottom: 40px; }

.blog__form {
  margin-left: 18%;
  font-size: 1.9rem;
  padding-bottom: 100px; }
  .blog__form form input {
    background-color: #111010;
    border: none;
    color: #ffffff;
    border-bottom: 1px solid #ff8327; }
    .blog__form form input:focus {
      outline: none;
      -webkit-box-shadow: 0 1rem 2rem rgba(255, 131, 39, 0.4);
      box-shadow: 0 1rem 2rem rgba(255, 131, 39, 0.4);
      border-bottom: 3px solid #ff8327; }
  .blog__form form ::-webkit-input-placeholder {
    color: #ffffff;
    font-size: 1.95rem;
    font-family: 'Chathura', sans-serif;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1.9px; }
  .blog__form form :-ms-input-placeholder {
    color: #ffffff;
    font-size: 1.95rem;
    font-family: 'Chathura', sans-serif;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1.9px; }
  .blog__form form ::-ms-input-placeholder {
    color: #ffffff;
    font-size: 1.95rem;
    font-family: 'Chathura', sans-serif;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1.9px; }
  .blog__form form ::placeholder {
    color: #ffffff;
    font-size: 1.95rem;
    font-family: 'Chathura', sans-serif;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1.9px; }
  .blog__form form input[type=email] {
    padding-left: 30px;
    padding-right: 182.5px;
    padding-bottom: 30px;
    margin-left: 12.5px; }
  .blog__form form input[type=text] {
    padding-left: 30px;
    padding-right: 182.5px;
    padding-bottom: 30px;
    margin-right: 12.5px; }
  .blog__form form input[type=submit] {
    width: 94.5%;
    padding: 4px 0;
    color: #ffffff;
    border: none;
    background-color: #bf2603;
    text-transform: capitalize;
    font-size: 2rem;
    font-family: 'Tulpen One', cursive;
    font-weight: 400; }
    .blog__form form input[type=submit]:hover {
      background: #ff8327; }
  .blog__form form textarea {
    color: #ffffff;
    background: #111010;
    border: 1px solid #ff8327;
    margin: 40px 0;
    padding-left: 30px;
    resize: none;
    padding-top: 40px; }
    .blog__form form textarea:focus {
      outline: none;
      -webkit-box-shadow: 0 1rem 2rem rgba(255, 131, 39, 0.4);
      box-shadow: 0 1rem 2rem rgba(255, 131, 39, 0.4);
      border-bottom: 3px solid #ff8327; }

.contact__form {
  background-color: #220303;
  padding-top: 80px;
  padding-bottom: 50px;
  padding-left: 60px;
  margin-right: 5%;
  margin-left: 5%;
  padding-right: 60px;
  -webkit-box-shadow: 46px 43px 0px -16px #ff8327;
  -moz-box-shadow: 46px 43px 0px -16px #ff8327;
  box-shadow: 46px 43px 0px -16px #ff8327;
  -webkit-transform: translateY(-35%);
  -ms-transform: translateY(-35%);
  transform: translateY(-35%); }
  .contact__form input {
    background-color: #220303;
    border: none;
    color: #ffffff;
    border-bottom: 1px solid #ffffff; }
    .contact__form input:focus {
      outline: none;
      -webkit-box-shadow: 0 1rem 2rem rgba(255, 131, 39, 0.4);
      box-shadow: 0 1rem 2rem rgba(255, 131, 39, 0.4);
      border-bottom: 3px solid #ff8327; }
  .contact__form ::-webkit-input-placeholder {
    color: #ffffff;
    font-size: 1.95rem;
    font-family: 'Chathura', sans-serif;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1.9px; }
  .contact__form :-ms-input-placeholder {
    color: #ffffff;
    font-size: 1.95rem;
    font-family: 'Chathura', sans-serif;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1.9px; }
  .contact__form ::-ms-input-placeholder {
    color: #ffffff;
    font-size: 1.95rem;
    font-family: 'Chathura', sans-serif;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1.9px; }
  .contact__form ::placeholder {
    color: #ffffff;
    font-size: 1.95rem;
    font-family: 'Chathura', sans-serif;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1.9px; }
  .contact__form input[type=email] {
    width: 100%;
    max-width: 360px;
    padding-bottom: 30px;
    margin-left: 12.5px; }
  .contact__form input[type=text] {
    width: 100%;
    max-width: 360px;
    padding-bottom: 30px;
    margin-right: 12.5px; }
  .contact__form input[type=submit] {
    width: 100%;
    padding: 4px 0;
    color: #ffffff;
    border: none;
    background-color: #bf2603;
    text-transform: capitalize;
    font-size: 2rem;
    font-family: 'Tulpen One', cursive;
    font-weight: 400; }
    .contact__form input[type=submit]:hover {
      background: #ff8327; }
  .contact__form textarea {
    color: #ffffff;
    background: #220303;
    border: 1px solid #ffffff;
    margin: 50px 0;
    padding-left: 30px;
    resize: none;
    padding-top: 40px;
    width: 100%; }
    .contact__form textarea:focus {
      outline: none;
      -webkit-box-shadow: 0 1rem 2rem rgba(255, 131, 39, 0.4);
      box-shadow: 0 1rem 2rem rgba(255, 131, 39, 0.4);
      border-bottom: 3px solid #ff8327; }

.main__contact {
  background-color: #111010;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.aside__contact {
  width: 40%;
  padding-left: 120px;
  padding-top: 100px; }
  .aside__contact p {
    margin: 0; }
  .aside__contact p.email {
    margin-bottom: 30px; }
  .aside__contact--social {
    padding-left: 2.5%; }
    .aside__contact--social ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .aside__contact--social li a {
      padding: 10px;
      color: #ffffff; }
    .aside__contact--social a:hover {
      color: #ff8327; }
  .aside__contact--info {
    padding-left: 5%; }
